#home-page-image {
  background: url("https://www.secretentourage.com/motivation/100-motivational-success-quote-pictures-for-entrepreneurs/");
  padding: 200px;
  background-position: center; 
}


h1, h2, p, #home-page-text {
  color: black;
  font-family: sans-serif;
}

#home-page-text {
  width: 50%;
}

#other-text {
  text-align: center;
}

button {
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #BB2026;
  border: 0px;
  padding: 12px;
}

